In [3]:
# Print statement to display a message
print("welcome to python programming")

welcome to python programming

In [4]:
# Comments
# Single line comments
"""Multi line comments"""

'Multi line comments'

Variabe
-----------
- variables are used to store the data/value

In [8]:
n1 = 10                 #Single variable assignment
a = b = c = 20          #Multiple variable assignment
x,y,z = 1,2,3           #Multiple variable assignment with values
print(x,y,z)
print(a)
n1             #No need to use print for n1 at last,so it came with gap at o/p;if we use print then there will be no gap

1 2 3
20

10

In [9]:
n1 = 567           #if there is no error then the pointer will successfully move to the next cell

In [10]:
n1             #the recent(re assigned) value of n1 will be saved  and will be shown at o/p

567

In [11]:
s1 = "python"      #for string we have to use (double quotes)"" for assignment
f = 45.67
n = 800

print(s1)
print(f)
print(n)

python
45.67
800

In [12]:
print(s1,f,n)     #we can print in the same line

python 45.67 800

In [82]:
s1 = "string1"
s2 = "string2"   
print("two strings are "+s1+"and"+s2)

two strings are string1andstring2

In [15]:
n1 = 56
n2 = 89
print("first integer value as",n1,"and second integer value",n2)

first integer value as 56 and second integer value 89

In [18]:
n = input("enter a value")
n

enter a value45963

'45963'

In [19]:
n = int(input("enter a value"))
print(type(n))
print(n)                             #only accepts int value

enter a value258
<class 'int'>
258

In [20]:
f  = float(input("enter a value"))
f

enter a value25

25.0

In [21]:
s = input("enter value")            #just for input word all int,float,string can be accepted
s

enter valuepython

'python'

In [22]:
s = input()                            
s

python

'python'

Operators
---------------
>1. Arithmetic Operators
    - +,-,*,/,%,//,**
>2. Assignment Operators
    - +=,-=,*=,/=,%=,//=,**=,=
>3. Logical Operators
    - and, or, not
>4. BitWise Operators
    - &,|,^,~,>>,<<
>5. Comparison Operators
    - <,>,<=,>=,==,===,!=
>6. Identity Operators
    - is, is not
>7. Membership Operators
    - in, not in

In [26]:
 #arithmetic operators
a = 5             
b = 2
a/b    #for single slash division we get float value

2.5

In [27]:
a = 5
b = 2
a//b    #for double slash division we get integer value(also known as integer division ,float division)

2

In [28]:
a**b     #double star is used for power 5power2 is 25

25

In [30]:
a%b      #we get remainder

1

In [31]:
print("addition",a+b)
print(a-b)
print(a*b)
print(a/b)
print("nod division",a%b)
print(a//b)
print(a**b)

addition 7
3
10
2.5
nod division 1
2
25

In [51]:
# assignment operators
h = 20
h += 4                        # h=h+4  
print(h)

24

In [46]:
h = 20                           # here we done everytime in different cell because we are assigning multiple operators
h -= 4
print(h)

16

In [47]:
h = 20
h *= 4
print(h)

80

In [48]:
h = 20
h /= 4
print(h)

5.0

In [49]:
h = 20
h %= 4
print(h)

0

In [50]:
h = 20
h //= 4
print(h)

5

In [52]:
h = 20
h **= 4
print(h)

160000

In [53]:
h = 20
h = 4
print(h)

4

In [54]:
# logical operators
3 < 5 and 7 < 10           #and means left and right side(both sides) value should be true

True

In [55]:
2>9  and 8<11

False

In [56]:
4<=5 or 7==8               # or means any one should be true

True

In [57]:
not (4 <= 5 or 7 == 8)     # from bracket we get true therefore not(true) is opposite to true that is false

False

In [58]:
# bitwise operators
n1 = 3                # 0011
n2 = 5                # 0101
n1 & n2               # 0001 ( 0 and 0 = 0 , 0 and 1 = 0, 1 and 1=1)

1

In [59]:
n1 | n2               # 0111

7

In [60]:
n1 ^ n2               # 0110 (xor)

6

In [65]:
~n1 # 1's complement (formulae)- (-(n1+1))

-4

In [67]:
a = 2   # 0000 0010
b = 5   # 0000 0101
a<<b    # ( a left shift 5)(the value present in a , 5 times it should be left shifted ; that is 0100 0000 )

64

In [70]:
10>>2 # 1010>>2 ; that is 0010

2

In [73]:
# identity operators 
a = 2
a is 2

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-73-3aedfbbcaddc>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 2

True

In [74]:
a is not 5

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-74-ceb0796d34a2>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 5

True

In [75]:
a is not 2

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-75-179784207a65>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 2

False

In [77]:
x = 8
y = 9
z = 8
print(x is y)
print(x is z)
print(y is not z)

False
True
True

In [78]:
# Membership operators
k = [1,2,3,4]
4 in k

True

In [79]:
10 in k

False

In [80]:
2 not in k

False

In [81]:
5 not in k

True